nav {
  width: 100%;
  height: 50px;
  background-color: rgb(33, 33, 33);
}

nav ul {
  float: right;
  list-style: none;
  padding: 0 1rem;
}

nav li {
  color: lightgray;
  display: inline;
}

nav li:last-child {
  display: none;
}

nav li:hover {
  color: white;
  cursor: pointer;
}

.grid {
  width: 100%;
}

.box {
  width: 100%;
  height: 100px;
  display: inline-block;
}

#box-1 {
  background-color: orange;
}
#box-2 {
  background-color: red;
}
#box-3 {
  background-color: blueviolet;
}
#box-4 {
  background-color: blue;
}

@media only screen and (max-width: 600px) {
  nav li {
    display: none;
  }

  nav li:last-child {
    display: inline;
  }

  .box {
    /* width: 100%; */
  }
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
}

/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for medium screens */
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for large screens */
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  /* CSS rules for extra large screens */
}
