* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(17, 106, 119);
  color: #fff;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

header nav li a {
  color: #303030;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#hero > section {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hero p {
  color: #303030;
}

img {
  height: auto;
  width: 100%;
}

#primary-cta {
  background-color: rgb(17, 106, 119);
  color: #fff;
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

#secondary-cta {
  color: rgb(17, 106, 119);
  border: 1px rgb(17, 106, 119) solid;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 14px;
}

#available-pets {
  padding: 1rem 2rem;
}

#pets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
.card {
  border: 1px #303030 solid;
  border-radius: 6px;
}

.card section {
  padding: 0.5rem 1rem;
  display: grid;
  gap: 1rem;
}
